<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.azati.background_upload"
        version="0.0.14">

  <name>background upload</name>
  <description>background_upload</description>
  <author>Azati</author>

  <license>MIT</license>
  
  <engines>
    <engine name="cordova" version=">=4.0.0"/>
  </engines>

  <js-module src="www/background_upload.js" name="background_upload">
    <clobbers target="navigator.background_upload" />
  </js-module>
<!--
  <platform name="ios">    
    <config-file target="config.xml" parent="/*">
      <feature name="PushStatus">
        <param name="ios-package" value="PushStatus" />
      </feature>
    </config-file>

    <header-file src="src/ios/PushStatus.h"/>
    <source-file src="src/ios/PushStatus.m"/>
  </platform>-->

  <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="background_upload" >
                <param name="android-package" value="com.azati.backgroundupload"/>
            </feature>
        </config-file>
<!--
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>-->

        <config-file target="AndroidManifest.xml" parent="/manifest/application">            
            <service
            android:name="com.azati.backgroundupload.UploadService"
            android:exported="false" />

            <receiver android:name="com.azati.backgroundupload.AppReceiver" android:enabled="true" android:exported="false" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        </config-file>

        <source-file src="src/android/com/azati/backgroundupload/BackgroundUpload.java" target-dir="src/com/azati/backgroundupload" />
        <source-file src="src/android/com/azati/backgroundupload/AppReceiver.java" target-dir="src/com/azati/backgroundupload" />
        <source-file src="src/android/com/azati/backgroundupload/RequestsHelper.java" target-dir="src/com/azati/backgroundupload" />
        <source-file src="src/android/com/azati/backgroundupload/UploadService.java" target-dir="src/com/azati/backgroundupload" />
        <source-file src="src/android/com/azati/backgroundupload/UploadTask.java" target-dir="src/com/azati/backgroundupload" />

        <source-file src="src/android/res/drawable/ic_notification.png" target-dir="res/drawable"/>
    </platform>

</plugin>